*.jpg filter=lfs diff=lfs merge=lfs -text
weights/resnet152 filter=lfs diff=lfs merge=lfs -text
weights/squeezenet1.0 filter=lfs diff=lfs merge=lfs -text
weights/vgg11_bn filter=lfs diff=lfs merge=lfs -text
weights/vgg16_bn filter=lfs diff=lfs merge=lfs -text
weights/vgg19 filter=lfs diff=lfs merge=lfs -text
weights/densenet169 filter=lfs diff=lfs merge=lfs -text
weights/mnasnet1.0 filter=lfs diff=lfs merge=lfs -text
weights/shufflenet1.0 filter=lfs diff=lfs merge=lfs -text
weights/vgg16 filter=lfs diff=lfs merge=lfs -text
weights/densenet161 filter=lfs diff=lfs merge=lfs -text
weights/densenet201 filter=lfs diff=lfs merge=lfs -text
weights/googlenet filter=lfs diff=lfs merge=lfs -text
weights/resnext50 filter=lfs diff=lfs merge=lfs -text
weights/squeezenet1.1 filter=lfs diff=lfs merge=lfs -text
weights/vgg19_bn filter=lfs diff=lfs merge=lfs -text
weights/alexnet filter=lfs diff=lfs merge=lfs -text
weights/resnet18 filter=lfs diff=lfs merge=lfs -text
weights/resnet-wide101 filter=lfs diff=lfs merge=lfs -text
weights/vgg11 filter=lfs diff=lfs merge=lfs -text
weights/mobilenet filter=lfs diff=lfs merge=lfs -text
weights/resnet-wide50 filter=lfs diff=lfs merge=lfs -text
weights/shufflenet0.5 filter=lfs diff=lfs merge=lfs -text
weights/densenet121 filter=lfs diff=lfs merge=lfs -text
weights/inceptionv3 filter=lfs diff=lfs merge=lfs -text
weights/vgg13 filter=lfs diff=lfs merge=lfs -text
weights/resnet101 filter=lfs diff=lfs merge=lfs -text
weights/resnext101 filter=lfs diff=lfs merge=lfs -text
weights/mnasnet0.5 filter=lfs diff=lfs merge=lfs -text
weights/resnet34 filter=lfs diff=lfs merge=lfs -text
weights/resnet50 filter=lfs diff=lfs merge=lfs -text
weights/vgg13_bn filter=lfs diff=lfs merge=lfs -text
